.cards-carousel {
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
    );
    width: 100%;
}

.cards-container {
    --CARD-SIZE:340px ;
    display: flex;
    justify-content: space-between;
    width: calc(var(--CARD-SIZE) * 40);
    animation: scroll 60s linear infinite;  
    padding: 5px;
}

.cards-container .movie-card {
    flex-shrink: 0;
    flex-grow: 0;
    pointer-events: none;
}

@keyframes scroll {
    0% {
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(calc(var(--CARD-SIZE) * -20)); 
    }
}



@media screen and (max-width: 850px) {
    .cards-carousel .movie-poster {
      min-height: auto;
      max-height: 50vh;
    }
    .cards-carousel .movie-card {
        width: 50vw;
    }
}
