.movie-card {
  padding: 10px;
  position: relative;
  overflow: hidden;
  flex-basis: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 470px;
  background: rgba(37, 37, 37, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.movie-poster {
  width: 100%;
  min-height: 520px;
  padding:5% 0 ;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}


.images-container {
  position: relative;
  display: flex;
  width: 90%;
  height: 100%;
}

.poster-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
}

.no-poster {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #667eea, #764ba2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.blured {
  position: absolute;
  filter:blur(25px) ;
  z-index: 1;
  height: 100%;
  transition: all .5s;
  opacity: 1;
}

.movie-details .hidden {
  max-height: 0;
  transition: all 0s;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-card:hover .hidden {
  max-height: 500px;
  transition: all .8s;
}

.movie-card:hover .movie-details {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 8px;
  background: rgb(26, 26, 26);
  box-shadow: 0 0 20px 20px rgb(26, 26, 26);
}

.providers-list {
  display: flex;
  align-items: center;
}
.detail-title {
  font-weight: bold;
}

.detail-content {
  margin-left: 5px;
  font-size: smaller;
  display: inline-flex;
  gap: 5px;
}

.provider-icon {
  width: 50px;
  border-radius: 8px;
}
.movie-title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movie-icon {
    background: center/cover no-repeat url('../../assets/icons/movie_icon.svg');
    width:80px ;
    aspect-ratio: 1;
}

.movie-rating {
  display: flex;
  gap: 3px;
  justify-content: center;
}

.star {
  font-size: 16px;
}

.star.filled {
  color: #f39c12;
}

.star.empty {
  color: #f0f0f0;
}

.movie-details {
  overflow: hidden;
}
/*
.movie-rating svg {
  fill: #f39c12; 
}*/