.app-layout {
    display: flex;
    height: 100vh; 
}

.app-layout__left {
    flex-basis: 350px;
    padding: var(--space-4);
    background: var(--color-gray-900);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: var(--space-3);
    flex-shrink: 0;
}

.app-layout__right {
    flex-grow: 1;
    padding: var(--space-3);
    padding-left: var(--space-1);
    overflow: hidden auto;
    scroll-behavior: smooth;
}


.app-layout__left:has(.movie-form:not(.open)) {
    position: absolute;
    z-index: 9;
    background: var(--color-gray-900);
    padding: var(--space-2);
}

@media screen and (max-width: 850px) {
    .app-layout {
        flex-direction: column;
    }
    .app-layout__left {
        flex-grow: 0;
        flex-basis: auto;
        padding: var(--space-1) var(--space-2) !important;
        margin: var(--space-1);
        border-radius: var(--radius-md);
        position: absolute;
        z-index: 9;
        right: 0;
        top: var(--space-1);
        background: var(--color-gray-900);
    }
    .app-layout__left:has(.open),
    .app-layout__left:has(+ .app-layout__right .movie-list) {
        left: 0;
    }
    .app-layout__right {
        padding: var(--space-2) var(--space-1);
    }
    .app-layout__right:has(.movie-list) {
        margin-top: 67px;
    }
}
