.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--space-4);
    width: 100%;
    height: fit-content;
}

@media screen and (max-width: 650px) {
    .movie-list {
        grid-template-columns: auto;
        gap: var(--space-3);
        margin-top: 35px;
    }
    .movie-card {
        max-width: 95% !important;
    }
}
