.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--space-4);
    width: 100%;
    height: fit-content;
}

.open-favorite-button {
    position: absolute !important;
    bottom: var(--space-3);
    right: var(--space-5);
    z-index: 999;
    box-shadow: var(--shadow-xl) !important;
}

@media screen and (max-width: 650px) {
    .movie-list {
        grid-template-columns: auto;
        gap: var(--space-3);
    }
    .movie-card {
        max-width: 95% !important;
    }

    .open-favorite-button {
        right: var(--space-4);
    }
}
