:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: var(--color-gray-50);
  background-color: var(--color-gray-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --color-primary-100: #6d9eec;
  --color-primary-200: #5291f8;
  --color-primary: #3b82f6;
  --color-primary-400: #2768d1;

  --color-secondary-100: #9760f8;
  --color-secondary: #7c3aed;
  --color-secondary-500: #6d28d9;

  --color-free: #16a34a;
  --color-flatrate: #2563eb;
  --color-star-plain: #ffc107;
  --color-star-empty: var(--color-gray-500);

  --color-gray-50:  #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-300: #d1d5db;
  --color-gray-400: #8f9299;
  --color-gray-500: #7a7a7a;
  --color-gray-600: #444444;
  --color-gray-700: #303030;
  --color-gray-800: #202020;
  --color-gray-900: #141414;
  
  --text-xs: 0.75rem;   /* 12px */
  --text-sm: 0.875rem;  /* 14px */
  --text-base: 1rem;    /* 16px */
  --text-lg: 1.125rem;  /* 18px */
  --text-xl: 1.25rem;   /* 20px */
  --text-2xl: 1.5rem;   /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem;  /* 36px */

  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem;  /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem;    /* 16px */
  --space-5: 1.5rem;  /* 24px */
  --space-6: 2rem;    /* 32px */
  --space-7: 3rem;    /* 48px */
  --space-8: 4rem;    /* 64px */

  --radius-sm: 0.25rem;  /* 4px */
  --radius-md: 0.5rem;   /* 8px */
  --radius-lg: 1rem;     /* 16px */
  --radius-full: 9999px; /* cercle complet */

  --shadow-sm: 0 0 2px var(--color-gray-600);
  --shadow-md: 0 0 4px var(--color-gray-600);
  --shadow-lg: 0 0 8px var(--color-gray-600);
  --shadow-xl: 0 0 16px var(--color-gray-600);

  --transition-fast: 200ms ease-in-out;
  --transition-medium: 500ms ease-in-out;
  --transition-slow: 800ms ease-in-out;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-gray-900: #f9fafb;
    --color-gray-800:rgb(247, 247, 247);
    --color-gray-700:rgb(238, 238, 238);
    --color-gray-600:rgb(212, 212, 212);
    --color-gray-500:rgb(196, 196, 196);
    --color-gray-300:rgb(75, 75, 75);
    --color-gray-50: #333333;

    --color-primary: #71a8ff;
    --color-primary-400: #5897fd;
    --color-secondary: #bf9bfd;
    --color-secondary-500: #b184ff;
  }
}
